@charset "UTF-8";

body
{
	
	font-family:sans-serif;
	font-size: small;
	
	
}





header{
	height:100px;
	width:100%;
	
	
	
	border:thin dotted black;
	
	
	background-color: rgba(10, 25, 47, 0.1);
}


header #headAndButt
{
	
	padding-top:1.5%;
	padding-bottom: 1.5% ;
	
}

header h1
{
	
	font-style:italic;
	/*font-size:2.5rem;*/
	font-size:300% ;
	color:green;
	display:inline;
	
	
	
}

header h1#h1Farma{
	
	color:gray;
	
	
	
}


header #bottAccCarr{
	
	width:10%;
	float:right;
	
	
}




header #bottone-accedi {
    display: inline-block;
    color: black;         
    text-decoration: none;   /* Rimuove la sottolineatura di default */
           
    cursor: pointer;         /* Mostra la manina al passaggio del mouse */
    user-select: none;       /* Impedisce la selezione del testo per errore */
    
    
}


header #bottone-accedi:active {
    transform: translateY(2px); /* Sposta la scritta in basso di 2 pixel al click */
}

#icona-omino
{
	
	width: 20px; /* Regola la dimensione dell'omino */
  height: 20px;
  margin-top:3px ;
  margin-right: 6px;
	background-color:yellow;
	
	
}





header #bottone-carrello {
    display: inline-block;
    color: black; 
   
            
    text-decoration: none;   /* Rimuove la sottolineatura di default */
           
    cursor: pointer;         /* Mostra la manina al passaggio del mouse */
    user-select: none;       /* Impedisce la selezione del testo per errore */
   
   
}



header #bottone-carrello:active {
    transform: translateY(2px); /* Sposta la scritta in basso di 2 pixel al click */
}


#icona-carrello
{
	
	width: 20px; /* Regola la dimensione dell'omino */
  height: 20px;
  margin-top:3px ;
  margin-right: 1px;
  margin-left:4px ;
	background-color:yellow;
	
	
}










section#ricerca{
	

	margin-top: 15% ;
	
	
}












section#ricerca #campoRicerca
{
    
    width: 40% ;       
    padding: 3px 20px 3px 1px; 
    font-size:150% ;     /* Ingrandisce il testo e il placeholder */
    border: thin solid black; /* Bordo visibile */
    border-radius: 8px;     
    
    
  }




section#ricerca #bottCerca{
	
	display: inline-block;
	width:6% ;
	padding: 3px 2px 3px 2px;
	font-size: 150% ;      /* Ingrandisce il testo e il placeholder */
    border: thin solid black; /* Bordo visibile */
    border-radius: 8px;
     cursor: pointer; 
    background-color: yellow; 
	
	
}


section#ricerca #bottCerca:active
{
	
	transform: translateY(2px);
	
	
	
}








